body {
    font-family: 'Lato', sans-serif;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centerGrid{
    position: relative;
    height: auto;
    width: auto;
}
.container{
    display:grid;
    grid-template-columns: 48vw 48vw;
    grid-template-rows: 48vh 48vh;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    padding-bottom: 12px;
}
.homePageImageTopLeft{
    border-radius: 25px;
    width: 48vw;
    height: 48vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: right;
}
.homePageImageTopLeft:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}
.homePageImageBottomLeft:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}
.homePageImageTopRight:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}
.homePageImageBottomRight:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}
.headerBackground{
    background-color: #FFE8D6;
}
.homePageImageBottomLeft{
    border-radius: 25px;
    width: 48vw;
    height: 48vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: right;
}
.homePageImageTopRight{
    border-radius: 25px;
    width: 48vw;
    height: 48vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: left;
}
.homePageImageBottomRight{
    border-radius: 25px;
    width: 48vw;
    height: 48vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: left;
}
footer{
    height:40px;
    background-color: #FFE8D6;
}
#homeTopLeft{
    border: solid;
    border-width: 1vw;
    border-top: none;
    border-left: none;
    border-color: #FAF5F0;

}
#homeTopRight{

    border: solid;
    border-width: 1vw;
    border-top: none;
    border-right: none;
    border-color: #FAF5F0;
}
#homeBottomLeft{

    border: solid;
    border-width: 1vw;
    border-bottom: none;
    border-left: none;
    border-color: #FAF5F0;
}
#homeBottomRight{

    border: solid;
    border-width: 1vw;
    border-bottom: none;
    border-right: none;
    border-color: #FAF5F0;
}
#image {
    width: 50%;
    height: 50%;
    background-image: url('photos/lexiAtWork.png');
    overflow: hidden;
}

.centerLogo{
    position: relative;
    width: 30vw;
    height: 30vw;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.navLogo {
    height: 250px;
    width: 250px;
}