body {
    font-family: 'Lato', sans-serif;
}

.bodyBackground{
    background-image:url("photos/homePageBackg.png");
    vertical-align: middle;
}
.nav{
    max-width: 60%;
    display: inline-block;
}
.navRight{
    float: right;
    margin-left: -300px;
}

.centerWrapper{
    display: inline-block;
    vertical-align: middle;
    height: 70%;
}
.headerBackground{
    background-color: transparent;
    color: #3F4238;
    height: 75px;

}
.footer{
    left: 0;
    bottom: 50px;
    width:100%;
    height:90px;
    color: #3F4238;
    background-color: transparent;
}

.headerIcon{
    max-width: 100px;
    min-width: 80px;
    width: 30vw;
    height: auto;
    float: right;
    vertical-align: middle;
    display: inline-block;
}

.headerIcon:hover{
    filter: drop-shadow(4px 4px 10px white) blur(0);
    opacity: 1;
}


.footerIcon{
    width:60px;
    height: 33.75px;
    padding-right:10px;
    vertical-align: middle;
    background-image: url("photos/onlineBooking.png");
}

.footerIconSocials{
    min-width: 40px;
    max-width: 50px;
    width:8vw;
    height: auto;
    padding-right: 1.3vw;
    vertical-align: middle;
    opacity: .75;
}
.footerIconSocials:hover{
    filter: drop-shadow(4px 4px 10px white) blur(0);
    opacity: 1;
}

.footerIcon:hover{
    filter: brightness(55%) hue-rotate(90deg);
}

.centerWrapperPhotos{
    width: 100%;
    text-align: center;
    display:inline-block;
}

.test {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.onlineBooking{
    display: inline-block;
    vertical-align: middle;
    color: #A5A58D;
    text-decoration: none;
    padding-left: 2vw;
}

.directions{
    display: inline-block;
    vertical-align: middle;
    color: #A5A58D;
    text-decoration: none;
    padding-left: 2vw;
}

.instagram{
    display: inline-block;
    vertical-align: middle;
    color: #A5A58D;
    text-decoration: none;
    padding-left: 2vw;
}
.facebook{
    display: inline-block;
    vertical-align: middle;
    color: #A5A58D;
    text-decoration: none;
    padding-left: 10px;
}

.textMessages{
    display: inline-block;
    vertical-align: middle;
    color: #A5A58D;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 2vw;
    margin-right: 0%;
}

.socialIcons{
    text-align: center;
    position: relative;

}

.socialIcons:hover::before{
    filter: blur(2px);
}
.centerPane{
    width:100%;
}

.container{
    display:grid;
    grid-template-columns: 49vw 1vw 49vw;
    grid-template-rows: 49vh 1vh 49vh;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;

}
.homePageImageTopLeft{
    border-radius: 25px;
    width: 46vw;
    height: 46vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: right;
}
.homePageImageTopLeft:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}
.homePageImageBottomLeft:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}
.homePageImageTopRight:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}
.homePageImageBottomRight:hover{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}

.bodyBackground{
    background-color: #FAF5F0;
}

#image {
    width: 50%;
    height: 50%;
    background-image: url('photos/lexiAtWork.png');
    overflow: hidden;
}

.centerLogo{
    width: 60vw;
    height: 60vw;
    vertical-align: middle;

}
.centerAbout{
    width: 80vw;
    height: auto;
    vertical-align: middle;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.navBarLinks{
    padding-top: 100px;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 829px){
    .hideOnNarrow{
        display: none;
    }
}
@media screen and (min-width: 830px){
    .hideOnFullSize{
        display: none;
    }
}

.navLogo {
    margin-top: -30px;
    height: 50vw;
    width: 50vw;
}

.homePageImageBottomLeft{
    border-radius: 25px;
    width: 46vw;
    height: 46vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: right;
}
.homePageImageTopRight{
    border-radius: 25px;
    width: 46vw;
    height: 46vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: left;
}
.homePageImageBottomRight{
    border-radius: 25px;
    width: 46vw;
    height: 46vh;
    overflow: hidden;
    max-width: 550px;
    min-width: 400px;
    float: left;
}

#homeTopLeft{
    border: solid;
    border-width: 1vw;
    border-top: none;
    border-left: none;
    border-color: #FAF5F0;

}
#homeTopRight{

    border: solid;
    border-width: 1vw;
    border-top: none;
    border-right: none;
    border-color: #FAF5F0;
}
#homeBottomLeft{

    border: solid;
    border-width: 1vw;
    border-bottom: none;
    border-left: none;
    border-color: #FAF5F0;
}
#homeBottomRight{

    border: solid;
    border-width: 1vw;
    border-bottom: none;
    border-right: none;
    border-color: #FAF5F0;
}